@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/*
body{
  width: 100%;
} */

.buttonComponent {
  width: 150px;
  height: 45px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  color: white;
  background: linear-gradient(-45deg, rgb(5, 20, 60), rgb(98, 146, 212), rgb(98, 146, 212), rgb(5, 20, 60));
}

@media screen and (max-width : 700px) {
  .buttonComponent {
    width: 90px;
    height: 40px;
    font-size: 10px;
  }
}

/* NAV */

.social-items {
  display: flex;
  gap: 20px;
  padding: 15px;
}

@media screen and (max-width : 700px) {
  .logo-img {
    width: 20px;
    height: 20px;
  }
}

/* src/Nav.css */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 20px;
  margin-bottom: 20px;
  background-color: #fff;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.logo-img {
  height: 40px;
}

.nav-list {
  display: none;
}

.nav-list.open {
  display: block;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
  width: 200px;
}

@media screen and (min-width : 700px) {
  .lists {
    display: flex;
  }


}

.lists {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-items {
  padding: 10px 20px;
  border-bottom: 1px solid #f0f0f0;
}

.buttons {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.nav-socials {
  display: none;
}

.social-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social-icon {
  margin: 0 5px;
}

.hamburger {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
}

.line {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.open .line:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

@media (min-width: 768px) {
  .nav-list {
    display: flex;
  }

  .nav-list.open {
    display: flex;
    position: static;
    box-shadow: none;
    background-color: transparent;
  }

  .list-items {
    border: none;
    padding: 0;
  }

  .buttons {
    padding: 10px 15px;
  }

  .nav-socials {
    display: flex;
  }

  .hamburger {
    display: none;
  }
}

/* SECTION ONE */

@media screen and (max-width : 700px) {
  .sectionOneHeadText .headText {
    font-weight: 500;
    font-size: x-large;
    line-height: 0.5rem;
  }

  .sectionOneParagraph .headParagraph {
    display: inline-block;
    width: 90%;
    font-size: medium;
    font-weight: 400;
  }
}

.circleBackground {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 250px;
  height: 250px;
  background-color: #66acea;
  /* Adjust the color as needed */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  /* Ensure the circle is behind the content */
  filter: blur(150px);
}

.sectionOne {
  margin: auto;
}

.sectionOneHeadText,
.sectionOneParagraph,
.sectionOneButton {
  text-align: center;
}

.sectionOneHeadText p {
  font-weight: 500;
  font-size: 64px;
  line-height: 2rem;
}

.textOne,
.textTwo {
  background: linear-gradient(-45deg, rgb(5, 20, 60), rgb(5, 20, 60), rgb(98, 146, 212), rgb(5, 20, 60), rgb(5, 20, 60));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.sectionOneParagraph p {
  display: inline-block;
  width: 900px;
  text-align: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 400;
}

.sectionOneParagraph p {
  margin-top: 0;
  line-height: 2rem;
}

/* CarouselPage.css */

.carouselFrame {
  margin-top: 50px;
}

/* CarouselPage.css */

.carousel .slide img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  /* Ensures the image covers the entire height and width without distortion */
}

.carousel .thumbs-wrapper {
  display: none;
  /* Hides the thumbnail previews */
}

.carousel .control-dots .dot {
  background-color: #000;
  /* Customize dot color */
}

.carousel .control-prev.control-arrow,
.carousel .control-next.control-arrow {
  opacity: 0.7;
  /* Customize arrow opacity */
}

.carousel .legend {
  display: none;
}

/* .carousel .legend {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  font-size: 1rem;
} */

/* SUBSCRIBE */

.subscribeHead {
  font-size: 42px;
  font-weight: 500;
}

.subscribeText {
  font-size: large;
  font-weight: 500;
}

.subscribe {
  display: block;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.form {
  margin-top: 100px;
}

@media screen and (max-width : 700px) {
  .inputContainer .emailInput {
    font-size: 16px;
    width: 200px;
    padding-left: 15px;
  }

  .form {
    margin-top: 50px;
  }
}

.inputContainer {
  position: relative;
  margin: 0 auto;
}

.emailInput {
  width: 400px;
  height: 45px;
  margin-right: 10px;
  font-size: 20px;
  border: none;
  background-color: white;
  /* background-color: red; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding-left: 30px;
  flex: 1;
  outline: none;
}

.emailInput::placeholder {
  color: #333333;
  font-size: small;
  font-weight: 500;
}

/* FAQ */

.faq {
  display: flex;
  margin: 20px 0 20px 0;
}

.faq .faq-head {
  flex: 0.5;
  font-weight: 500;
  font-size: 64px;
  /* background-color: aqua; */
}

.faq .faq-head .faqHeadText {
  align-content: center;
}

.faq .faq-info {
  flex: 1;
  /* background-color: yellow; */
}


.faq-container {
  /* width: 50%; */
  margin: 20px auto;
}

.faq-item {
  margin: 10px 0 10px 0;
  border-radius: 12px;
  width: 70%;
  background-color: #fcfcfc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.faq-question {
  cursor: pointer;
  font-weight: bold;
}

.faq-answer {
  padding: 10px 0;
  color: #555;
}

/* FOOTER */

footer {
  margin: 0;
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-socials {
  display: flex;
  gap: 10px;
}

.footer-items {
  align-items: center;
  text-decoration: none;
  color: black;
}

@media screen and (max-width : 700px) {

  footer {
    justify-content: space-around;
    /* margin-left: 20px;
    margin-right: 20px; */
    margin: 2%;
  }

  .date,
  .footer-items,
  .terms {
    font-size: xx-small;
  }

  .footer-socials {
    gap: 5px;
  }
}