@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  /* margin: 0;
  padding: 0; */
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

nav,
footer {
  margin: 0px 100px 0px 100px;
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 30px;
  height: 30px;
}

.lists {
  display: flex;
  gap: 10px;
  padding: 15px;
  border-radius: 35px;
  background: green;
}

.buttons {
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(to right,
      green,
      white);
}

.social-items {
  display: flex;
  gap: 20px;
}

.footer-socials {
  display: flex;
  gap: 20px;
}